bin/
obj/
out/
**/publish/

compile.bat

.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

*.nupkg
*.snupkg
packages/
.nuget/

*.dll
*.pdb
*.exe
!CounterStrikeSharp.API.dll

*.log

.DS_Store
Thumbs.db
desktop.ini

*.tmp
*.temp
*~

.idea/
*.sln.iml

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

